doctype html
html(ng-app="myApp")
 head
  meta(charset='utf8')
  base(href='/')
  meta(name="fragment",content="!")
  link(rel="icon",href="img/favicon.ico",type="image/x-icon")
  link(rel="stylesheet", href="main.manager.min.css")
 body
  div( ui-view )
  script(src="all_scripts.manager.min.js")