       
		<div class="bg-content">
        	<div id="content">
                <div class="container">
                	<div class="row">
                        <article class="col-lg-4">
                            <div class="list-blog">
                                <img class="span4" src="img/dostavka/2.png">
                            </div>
                        </article>
                        <article class="col-lg-8">
                            <div class="list-blog ">
                                 <h3>Регионы доставки:</h3>
                                 <p class="slogan">Молдова, Армения, Азербайджан, Украина, Россия, Грузия, Беларусь, Туркменистан, Узбекистан, Казахстан, Таджикистан.</p>
    
                            </div>
                            <div class="list-blog">
                                <p><strong class="block-slogan">Доставка по Украине.</strong>  Отправка заказа транспортными компаниями  «Автолюкс», «Новая почта», курьерской доставкой и другими удобными для вас перевозчиками.</p>
                                     
                                <p><strong class="block-slogan">Доставка в Россию.</strong> Отправка заказа из Белгорода одной из транспортных компаний, удобной для Вас: "Желдорэкспедиция", "ПЭК", "Байкал-сервис", "Деловые линии", "Автотрейдинг", "Скиф карго", "Курьер сервис экспресс", "Пони Экспресс", Почта России (только в том случае, если никакой из предложенных выше транспортных компаний) а также курьерской доставкой или самовывозом. При отправке одной из указанных транспортных компаний обязательно наличие паспортных данных получателя - кем и когда выдан паспорт, серия, номер.</p>
                                    
                                <p><strong class="block-slogan">Доставка в другие указанные регионы.</strong> Отправка почтой Украины, курьером или самовывозом.<br></p>
                                <p><strong class="block-slogan">Упаковка груза. </strong> Осуществляется менеджером "Jadone Fashion" в полиэтиленовые и полипропиленовые мешки. Груз перевязывается скотчем или упаковочной лентой, надежно защищен от попадания влаги, пыли и ультрафиолета. Сопровождается полным перечнем товара и данных получателя.<br></p>

                                <p><strong class="text-error">Дополнительные условия доставки. </strong>Укажите, пожалуйста, дополнительные пожелания условий доставки в комментариях к заказу, в форме обратной связи или по телефону Вашему менеджеру. <br></p>
                            </div>
                            <div class="list-blog">
                                <h3>Возврат товара</h3>
                                <p><strong class="block-slogan">Возврат и обмен товара</strong> производится в соответствии «Закона о защите прав потребителя». Возврат или обмен товара возможен в срок до 14 дней с момента доставки заказа покупателю в случае обнаружения покупателем брака или несоответствия указанным в размерной сетке параметрам.<br />
                                    <strong class="text-error">Обязательным условием обмена и возврата товара</strong> является наличие сопроводительных документов(накладной, ярлыков и пр.), упаковки и документов, подтверждающих факт оплаты товара (чека и пр.), а также подтверждение того, что товар не был в употреблении, имеет соответствующий внешний вид.<br />
                                    При несоблюдении указанных условий товар обмену и возврату не подлежит.</p>
                            </div>
                        </article>
                	</div>
     			</div><!--container-->
  			</div><!--content-->
		</div><!--bg-content-->
    
