
		    <div class="bg-content">
                <div class="container">
                	<div class="row">
                        <article class="col-lg-4">
                            <div class="list-blog">
                                <img src="img/dostavka/solutions.jpg">
                            </div>
                        </article>
                        <article class="col-lg-8">
                            <div class="list-blog">
                                 <h3>Все о Jadone Fashion:</h3>
                                 <p class="slogan">
                                     Знакомьтесь – Jadone Fashion!<br>
                                     Мир современной модной индустрии разнообразен и увлекателен. В нем непросто найти свое лицо и еще сложнее его сохранить. <br><br>
                                     Jadone Fashion – одна из ведущих компаний модного мира Украины, которая предлагает изысканную и модную одежду для стильных и уверенных в себе женщин.<br><br>
                                     <img src="../../img/dostavka/3.jpg" style="float: left; width: 300px; margin-right: 25px;">
                                     Над созданием моделей женской одежды  марки Jadone Fashion трудится большой и дружный коллектив -  высококвалифицированные  дизайнеры, закройщики, швеи, специалисты по декору, менеджеры. Их общими усилиями создаются интересные сезонные коллекции модной одежды  для современных женщин. <br>
                                     Использование современных технологий обработки материалов и тканей позволяет нашим специалистам реализовывать самые смелые идеи, уникальные узоры и формы.
                                     Традиционно Jadone Fashion в своих моделях использует лазерную перфорацию отдельных элементов моделей. Ажурные кокетки <strong><a href="http://jadone.biz/ru/stuff/category/539c793ae3629ebd1ce62c93">САРАФАНОВ</a></strong> и интересное решение
                                     <strong><a href="http://jadone.biz/ru/stuff/category/5367eb481b72646400c2992a">ТУНИК</a></strong>
                                      не оставят равнодушной ни одну модницу.
                                     <br><br>
                                     <img src="../../img/dostavka/2.jpg" style="float: right; width: 300px; margin-left: 25px;"><br><br>
                                     В <strong><a href="http://jadone.biz/ru/stuff/category/5364d9c9707981801b25648f">ПЛАТЬЯХ</a></strong>, <strong><a href="http://jadone.biz/ru/stuff/category/539c793ae3629ebd1ce62c93">САРАФАНАХ</a></strong> и
                                     <strong><a href="http://jadone.biz/ru/stuff/category/53a45cb0c9e647221f485349">КОСТЮМАХ</a></strong>  нашего производства находят отражение все модные тенденции, но, при этом, одежда Jadone не теряет своей  индивидуальности и следует фирменному стилю – женственности образа и элегантности кроя.<br><br>
                                     <img src="../../img/dostavka/1.jpeg" style="float: left; width: 300px; margin-right: 25px;"><br><br><br><br><br><br>

                                     На рынке легкой промышленности Украины Jadone Fashion работает более 10 лет. За этот промежуток времени партнеры отметили высокий профессионализм и порядочность нашей фирмы.<br><br>
                                     В настоящее время рады представить Вам удобный для работы оптовый интернет-каталог моделей нашего бренда.<br><br>
                                     Самые интересные события мировой моды, новости от дизайнеров, модные луки и тренды, популярные аксессуары и объявления от Jadone Fashion о выпуске новых коллекций можно увидеть на странице
                                     <strong><a href="http://jadone.biz/ru/news">НОВОСТЕЙ</a></strong> нашего каталога.<br>

                                     Надеемся, что и в дальнейшем будем радовать Вас, дорогие женщины, качественной, стильной, модной и удобной  одеждой, яркими и неповторимыми образами!<br><br>
                                 </p>
                                <div class="clearfix"></div>
                                <h3 class="color_summer">Jadone, в которой ты - Fashion!</h3>
                            </div>
                        </article>
                	</div>
     			</div><!--container-->
		    </div><!--bg-content-->
    
