<section class="container">

    <div class="row">
        <article class="col-lg-5 col-md-5">

            <h2 style="text-align: left">Связаться с нами:</h2>
            <form id="contact-form" ng-submit="send(form)" role="form">
                <div class="col-lg-6 row">
                    <input type="text" class="form-control" pattern="[A-Za-zА-Яа-я0-9а-яА-Я.\s]{3,50}"  placeholder="Введите имя" ng-model="feedback.name"><br>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6 row">
                    <input type="email" class="form-control" placeholder="Ваш e-mail"ng-model="feedback.email"required><br>
                </div>

                <textarea class="form-control" ng-model="feedback.text" rows="5" required></textarea>

                <p class="help-block"ng-show="errorText">Введите текст сообщенте! </p>
                <p class="help-block"ng-show="!errorText">&nbsp</p>
                <div class="buttons-wrapper">
                    <button ng-disabled="errorText||SuccessFeedBack||feedbackError||feedbackDisabled" class="btn btn-primary"
                            data-type="submit" style="margin-bottom: 30px;">Отправить
                    </button>
                </div>

                <div class=" fade in main_success1"  ng-show="SuccessFeedBack">
                    <alert  type="success">Ваше сообщение отправлено!</alert>
                </div>
            </form>

        </article>
        <article class="col-lg-5 col-lg-offset-2 col-md-5 col-md-offset-2" >


            <!--<h2 style="text-align: left;">Нашi координати:</h2>-->
            <div class="gray" style="font-size: 20px; margin-bottom: 30px;"ng-bind-html="trustHtml(stuff.desc0[lang])" >
                <!--<span>Україна, Харків, 61038</span><br>
                <span>Салтівске шосе, 67-А</span><br>
                <span>відділ продажу: +38 (057) 717 73 16</span><br>
                <span>e-mail: marketing_artika@arti.com.ua</span><br>
                <span>відділ закупівель: artika_bayer@mail.ru</span><br>-->
            </div>




        </article>
        <div class="clearfix"></div>
        <!--<div class="map">
            <iframe class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2565.1593003728135!2d36.30617747966978!3d49.989622775662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1396352298804"
                     frameborder="0" height="350" style="border:0 "></iframe>
        </div>-->
        <div class="container">


            <p ng-bind-html="trustHtml(stuff.desc1[lang])">

            </p>

            <p ng-bind-html="trustHtml(stuff.desc2[lang])">

            </p>

        </div>
    </div>
</section>