<div id="panel">
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="navbar-inner">
            <div class="container">
                    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"
                            ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <a class="brand" ui-sref="manager">Jadone Fashion</a>
                    <!--<a class="navbar-brand" href="index.html"><img src="img/bg/2.png"></a>-->

                        <div class="collapse navbar-collapse navbar-ex1-collapse pull-left" collapse="isCollapsed">
                            <ul class="nav navbar-nav">
                                <li class="home">
                                    <a ui-sref="language.home"><span class="glyphicon glyphicon-home"></span></a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li ng-hide="user.role">
                                    <a ui-sref="language.login" ng-click="">Авторизация</a>
                                </li>
                                <li ng-show="user.role">
                                    <a ng-click="logout()">Выйти</a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li class="dropdown" id="changeCurrencyUl">
                                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="vw"ng-src="img/icon/{{config.currency[currency][1]}}_inv.png">{{config.currency[currency][1]}} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li ng-hide="countryRUB"><a ng-click="changeCurrency('UAH')"><img class="vw"src="img/icon/uah.png">UAH</a></li>
                                        <li ng-hide="countryUAH"><a ng-click="changeCurrency('RUB')"><img class="vw"src="img/icon/rub.png">RUB</a></li>
                                        <li ng-hide="countryUAH"><a ng-click="changeCurrency('USD')"><img class="vw"src="img/icon/usd.png">USD</a></li>
                                    </ul>
                                </li>
                                <li class="divider-vertical"></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img class="lw" ng-src="{{lanImg}}"><span ng-bind="langName"></span><b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a ng-click="changeLanguage('en')"><img class="lw" src="img/icon/en.png">english</a></li>
                                        <li><a ng-click="changeLanguage('ru')"><img class="lw" src="img/icon/ru.png">русский</a></li>
                                    </ul>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a ui-sref="language.cart" class="bag" >Корзина</a>

                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a ui-sref="language.help">Справка</a>

                                </li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                        <div class="input-group search">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                            <button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-search icon-white"></span> </button>
                            </span>
                        </div>
            </div><!-- /.container -->
        </div><!--navbar-inner-->
    </nav>
</div><!--panel-->
<!--============================== header =================================-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="navbar navbar_">
                    <!--<div class="container">-->
                    <a class="btn btn-navbar " data-toggle="collapse" data-target=".navbar-collapse_"
                            ng-init="isCollapsed1 = true" ng-click="isCollapsed1 = !isCollapsed1">Меню<b class="sf-sub-indicator"></b>

                    </a>

                        <h1 class="brand"><a ui-sref="language.home"><img alt="" src="img/background/brand5.jpg"> </a></h1>
                        <!--&lt;!&ndash;<a class="btn btn-navbar " collapse="isCollapsed" data-target=".navbar-collapse_" > <span class="icon-bar"></span> </a>&ndash;&gt;
                        <a class="btn btn-navbar">меню<span class="sf-sub-indicator"></span></a>-->

                        <div class="collapse navbar-collapse nav-collapse_ navbar-ex2-collapse" collapse="isCollapsed1" >
                            <ul class="nav sf-menu">
                                <li class="sub-menu" ng-class="{ active: $state.includes('language.stuff') }" >
                                    <a ><span ng-bind="categories[0].name[lang]"></span><b class="sf-sub-indicator"></b></a>
                                    <ul>
                                        <li ng-repeat="category in categories|filter:{section:categories[0]._id}">
                                            <a ui-sref="language.stuff({category:category._id,section:categories[0]._id})">{{category.name[lang]}}</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="sub-menu" ng-class="{ active: activeMenu('brand')}">
                                    <a>sale</a>
                                    <ul>
                                        <li ng-repeat="gg in menuItems.gg"><a ui-sref="language.tovaryi.brand.list({brandUrl:'gg-'+gg.id})">{{gg.name}}</a></li>
                                    </ul>
                                </li>
                                <li class="sub-menu"  ng-show="user.role" ng-class="{ active: activeMenu('kabinet')}"><a >кабинет</a>
                                    <ul>
                                        <li ><a  ui-sref="language.profile">личные<br> данные </a></li>
                                        <li ><a  ui-sref="language.customOrder" >управление<br> заказами</a></li>
                                        <li ><a  ui-sref="language.chat">чат </a></li>
                                        <li ><a ng-click="logout()">выйти</a></li>
                                    </ul>
                                </li>
                                <li class="sub-menu" ng-class="{ active: activeMenu('info')}"><a >инфо</a>
                                    <ul>
                                        <li><a ui-sref="language.payment">оплата </a></li>
                                        <li><a ui-sref="language.delivery">доставка</a></li>
                                        <li><a ui-sref="language.reviews">отзывы</a></li>
                                        <li><a ui-sref="language.aboutus">о нас</a></li>
                                        <li><a ui-sref="language.news">новости</a></li>
                                    </ul>
                                </li>
                                <li  ng-class="{ active: activeMenu('contacts')}" ui-sref="language.contacts"><a>контакты</a>
                            </ul>
                        </div>
                    <!--<div class="collapse navbar-collapse  navbar-right navbar-ex2-collapse" style="text-transform: uppercase; font-size: 16px;" collapse="isCollapsed1">

                        <ul class="nav navbar-nav sf-menu" id="example" style="font-size: 14px;">
                            <li class="dropdown" ng-class="{active:activeMenu('section')}" >
                                <a class="dropdown-toggle" data-toggle="dropdown" style="z-index: 2000;">
                                    <span ng-bind="categories[0].name[lang]"></span> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu_top">
                                    <li ng-repeat="category in categories|filter:{section:categories[0]._id}">
                                        <a ui-sref="language.stuff({category:category._id,section:categories[0]._id})">{{category.name[lang]}}</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>
                    </div>-->

                    <!--</div>--><!--container-->
                </div><!--navbar-->
            </div><!--span12-->
        </div><!--row-->
    </div><!--container clearfix-->
</header>


<!--============================== end header =================================-->

<div ui-view></div>


<!--============================== footer =================================-->
<footer>
    <div class="container">
        <ul class="list-social pull-right">
            <li><a class="icon-1" href="http://www.facebook.com/profile.php?id=100007991798738"></a></li>
            <li><a class="icon-2" href="#"></a></li>
            <li><a class="icon-3" href="#"></a></li>
            <li><a class="icon-6" href="http://vk.com/jadoneopt"></a></li>
        </ul>
        <!--<div class="privacy pull-left">Website designed and powered by <a href="#" target="_blank">Sergio Zuk</a></div>-->
    </div>
</footer>

<script>
   /* $(document).ready(function(){
        window.setTimeout($('.sf-menu').superfish(),2000);

    });*/

    $(function(){
        $('.sf-menu').superfish()
    })
    var userag = navigator.userAgent.toLowerCase();
    var isAndroid = userag.indexOf("android") > -1;
    //ipad and iphone fix
    if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i)) || isAndroid) {
        $("ul.sf-menu").bind('click',function() {
            $('ul.sf-menu').hideSuperfishUl();
        });
    }
</script>




