<div class="bg-content">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 news_desc" ng-switch="news.style">
                    <h1 class="nazv text-center" style="color: #fff; margin-top: 0; line-height: 36px" ng-bind="news.name[lang]"></h1>
                    <h4 class="text-center" ng-bind="displayDate(news.date)" style="font-size: 18px; margin-left: 10px; margin-top: 0; color: #444; font-weight: bold;"></h4>
                    <hr>
                    <div ng-switch-when='1'>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[0].img}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc0[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-lg-offset-1 col-md-4  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[1].thumb}}">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p><span ng-bind-html="trustHtml(news.desc1[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-offset-1 col-lg-6 col-md-6 mb">
                            <p><span ng-bind-html="trustHtml(news.desc2[lang])"></span></p>
                        </div>
                        <div class="col-lg-4 col-md-4  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[2].thumb}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-4 col-lg-offset-1 col-md-4  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[3].thumb}}">
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p><span ng-bind-html="trustHtml(news.desc3[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc4[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-switch-when='2'>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc0[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[0].img}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc1[lang])"></span></p>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[1].thumb}}">
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[2].thumb}}">
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[3].thumb}}">
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc2[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[4].img}}">
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div ng-switch-when='3'>

                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[0].img}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc0[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[1].thumb}}">
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[2].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[3].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[4].thumb}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc1[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[5].img}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc2[lang])"></span></p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div ng-switch-when='4'>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc0[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[0].img}}">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc1[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[1].img}}">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc2[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[2].img}}">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc3[lang])"></span></p>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[3].thumb}}">
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[4].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[5].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[6].thumb}}">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc4[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div ng-switch-when='5'>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc0[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[0].img}}">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc1[lang])"></span></p>
                        </div>

                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[1].thumb}}">
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[2].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[3].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[4].thumb}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[5].thumb}}">
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[6].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[7].thumb}}">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[8].thumb}}">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc2[lang])"></span></p>
                        </div>

                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[9].img}}">
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc3[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-switch-when='6'>
                        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-6  text-center mb" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[0].thumb}}">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc0[lang])"></span></p>
                        </div>
                    </div>




                    <div ng-switch-default>

                        <!--<button class="btn btn-primary pull-right">в список</button>-->
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc0[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[0].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[0].thumb}}">
                        </div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc1[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12  text-center" ng-show="news.gallery[1].thumb">
                            <img  class="img-responsive news mb"  ng-src="{{news.gallery[1].thumb}}">
                        </div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc2[lang])"></span></p>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center" ng-show="news.gallery[2].thumb">
                            <img   class="img-responsive news mb"  ng-src="{{news.gallery[2].thumb}}">
                        </div>
                        <div class="col-lg-12 col-md-12 mb">
                            <p><span ng-bind-html="trustHtml(news.desc3[lang])"></span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                <a class="btn-1 btn-lg pull-right mb" ui-sref="language.news">В список новостей</a>
                </div>
            </div>
        </div>
    </div>
</div>