<img class="img_bg" ng-src={{bgImg[0][category]}}>

<div class="container">
    <div class="jumbotron1 hero-spacer">
        <h1>Новини від ТМ "Артика"</h1>
        <p></p>
    </div>

    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Пошук">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </form>
    <div class="clearfix"></div>



    <ul class="nav nav-tabs  nav-justified">
        <li class="active"><a href="#">Всі новини</a></li>
        <li><a href="#">Про продукцію</a></li>
        <li><a href="#">Про компанію</a></li>
        <li><a href="#">Ваші питання</a></li>
    </ul>


    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-feature">
            <div class="thumbnail" style="margin-bottom: 10px;">
                <img src="img/bg/4-malina.jpg" class="col-lg-4 thumbnail" alt="">
                <div class="caption col-lg-8">
                    <h3>Вишня без кісточки</h3>
                    <p class="date">11.11.2013</p>
                    <p>Цей продукт вирощений на полях ТМ "Артика" і відповідає стандартам якості...</p>
                    <p> <a href="#" class="btn btn-primary">Детальніше</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="thumbnail">
                <img src="img/bg/4-malina.jpg" class="col-lg-4 thumbnail" alt="">
                <div class="caption col-lg-8">
                    <h3>Вишня без кісточки</h3>
                    <p class="date">11.11.2013</p>
                    <p>Цей продукт вирощений на полях ТМ "Артика" і відповідає стандартам якості...</p>
                    <p> <a href="#" class="btn btn-primary">Детальніше</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>

</div> <!-- /container -->