<div class="container">
    <div class="main">

        <div class="row">
            <div class="col-lg-12 back">
                <a href="" class="btn btn-primary btn-info"ng-click="$state.transitionTo('mainFrame.collection')">
                    <span class="glyphicon glyphicon-arrow-left"></span> в список</a>
                <!--<a href="" class="btn btn-info pull-left" ng-click="$state.transitionTo('mainFrame.stuff')">в список</a>-->
            </div>
            <ng-form name="myForm" class="form form-horizontal" role="form">

            <article class="col-lg-5 col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Фото</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12 text-right" style="margin-bottom: 5px">
                            <a  class="btn btn-default btn-xs" data-ng-click="showThumb=!showThumb" >
                                <span class="glyphicon glyphicon-resize-full"data-ng-show="showThumb" ></span>
                                <span class="glyphicon glyphicon-resize-small" data-ng-show="!showThumb"></span>
                            </a>
                        </div>
                        <div class="col-md-12 text-center" data-ng-show="showThumb" >
                            <div class="form-group col-md-12 text-center" ng-show="myFileSrc">
                                <img ng-src="{{myFileSrc}}" class="img-responsive"/>
                            </div>
                        </div>
                        <div class="form-group" >

                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary btn-success"  ng-disabled="noChange" onclick ="javascript:document.getElementById('imagefile').click();">выбор фото</button>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-primary btn-danger pull-right" ng-click="deleteImg()" ng-disabled="myFileSrc">удалить</a>
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-primary btn-info pull-right" ng-click="uploadImg()" ng-disabled="noLoad">загрузить</a>
                            </div>
                            <input type="file" file-read="myFile" name="image" id="imagefile" style='visibility: hidden;'/>
                        </div>
                        <hr>
                    </div>
                </div>
            </article>

            <article class="col-lg-7 col-md-7 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Описание</h4>
                    </div>
                    <div class="panel-body">
                        <h4>Наименование</h4>
                        <div class="form-group"data-ng-repeat="lang in config.langArr" >
                            <label ng-bind="lang" for="{{$index}}name" class="col-md-1 control-label"></label>
                            <div class="col-md-12">
                                <input type="text" placeholder="" id="{{$index}}name" class="form-control"
                                       ng-model="brandTag.name[lang]"
                                       ng-disabled="editDisabledC"
                                       required
                                       focus-me="focusInput[$index]"/>
                            </div>
                        </div>
                       <h4>Описание</h4>
                        <div class="form-group"data-ng-repeat="lang in config.langArr" >
                            <label ng-bind="lang" for="{{$index}}desc" class="col-md-1 control-label"></label>
                            <div class="col-md-12">
                                <textarea placeholder="короткий опис" ng-model="brandTag.desc[lang]"id="{{$index}}desc"rows="1" style="height: 100px">
                                </textarea>
                            </div>
                        </div>
                        <h4>Индекс</h4>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="text" placeholder="index" class="form-control" ng-model="brandTag.index" required/>
                            </div>
                        </div>

                    </div>
                </div>

            </article>
            <article class="col-lg-12 col-md-12 col-sm-12" style="max-height: 10px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="form-group text-center" >
                            <button class="btn btn-block btn-primary " type="submit" ng-click="updateCollection()">
                                <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp &nbsp сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </article>
            </ng-form>

        </div>

    </div>
</div>