

	<header>
		<nav class="navbar navbar-fixed-top">
        	<div class="container" >
                <div class="row">
                	<div class="navbar-header">
                        <a  class="navbar-brand" ui-sref="mainFrame.home" style="margin-left: 0px;">АДМІНПАНЕЛЬ</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
          				</button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a data-ng-click="toMainSite()">на сайт</a></li>
                           <!-- <li ng-repeat="item in menuItem"><a ui-sref="mainFrame.goods({id:$index})"><span ng-bind="item.name.ua"></span></a></li>-->
                            <li class="active"><a  ui-sref="mainFrame.orders">заказы</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span >объекты</span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ><a  ui-sref="mainFrame.filters">фильтры</a></li>
                                    <li ><a  ui-sref="mainFrame.brands">бренды</a></li>
                                    <li ><a  ui-sref="mainFrame.category">категории</a></li>
                                    <li ><a  ui-sref="mainFrame.stuff">товары</a></li>
                                    <li ><a  ui-sref="mainFrame.collection">коллекции</a></li>
                                </ul>
                            </li>
                            <li class="active"><a  ui-sref="mainFrame.places">регионы</a></li>
                            <li class="active"><a  ui-sref="mainFrame.currency">валюта</a></li>

                        </ul>
            		</div>
            	</div>
  			</div>
		</nav>
    </header>


    <section class="content">
        <section class="container">
            <div ui-view></div>
        </section>
    </section>

            
<script>
	//$('.dropdown-toggle').dropdown()
</script>	
