<div class="container" ng-hide="$state.includes('mainFrame.news.edit')||$state.includes('mainFrame.news.editNewsGallery')">
    <div class="main">
        <div class="row">
                <div class="col-sm-7 col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Новости</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="col-md-5 text-left" style="margin-left: 20px;">
                                            <input type="text" placeholder="пошук" ng-model="searchNews" class="search-query"/>
                                        </div>
                                        <div class="col-md-5  col-md-offset-1">
                                            <a href=""class="btn btn-success" type="button"  ng-click="editNews()"> создать новую</a>
                                        </div>
                                    </div>
                                </div>
                            </form>


                                <ul  class="nav nav-pills nav-stacked">
                                    <li
                                        class="pull-left col-lg-12 col-md-10 col-xs-10"
                                        ng-repeat="news in filteredList=( newsList|orderBy:'index'|filter:searchNews)">
                                        <a ng-click="editNews(news)" class="control-label col-lg-7 col-md-7 col-xs-7" href="">
                                            <span ng-bind="news.name[config.DL]"></span>
                                        </a>

                                        <div class="col-lg-5 btn-group">
                                            <a ng-click="editNewsGallery(news)" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-camera"></span></a>
                                            <a ng-click="editNews(news)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-pencil"></span> </a>
                                            <a ng-click="deleteNews(news)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> </a>
                                        </div>
                                        <div class="clearfix"></div>

                                    </li>


                                </ul>


                            <a data-ng-click="setPage()" class="btn btn-sm btn-success" ng-show="newsList.length<totalItems">
                                <span class="glyphicon glyphicon-resize-vertical"></span> еще</a>


                            <div ng-show="filteredList.length<=0" class="alert alert-success"><h3>Нет объектов</h3></div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
<div ui-view></div>