div class="container">
<div class="main">
    <h3>Редактирование заказов</h3>

    <div class="row">

        <article class="col-lg-12 col-md-12" >
            <table class="status">
                <tr>
                    <td>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="" ng-model="filterStatus"><span>все</span>
                        </label>
                    </td>
                    <td>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="1"ng-model="filterStatus"><span>принятые</span>
                        </label>
                    </td>
                    <td>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="2"ng-model="filterStatus"><span>оплаченные</span>
                        </label>
                    </td>
                    <td>
                        <label class="radio">
                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="3"ng-model="filterStatus"><span>отправленные</span>
                        </label>
                    </td>
                    <div class="input-append pull-right right-filters mb">
                        <input  class="span2" type="text" ng-model="filterNumber" placeholder="поиск по номеру">
                    </div>
                </tr>
            </table>

            <table class="table span12 table-striped table-bordered table_ofice">
                <tbody>
                <thead>
                <tr>
                    <th class="span1">№</th>
                    <th class="span2" ><a href="#" style="color: #fff">Дата посту-пления</a></th>
                    <th class="span2" ><a href="#" style="color: #fff">Дата оплаты</a></th>
                    <th class="span2" ><a href="#" style="color: #fff">Дата отправки</a></th>
                    <th class="span1" >К-во единиц</th>
                    <th class="span1" >Сумма</th>
                    <th class="span2" >Изменить статус</th>
                    <th class="span1">Удалить</th>

                </tr>
                </thead>
                <tbody ng-repeat="order in orders" class="my-repeat-animation">
                <tr id="{{order._id}}">
                    <td class="span1" ng-bind="order.num" > </td>
                    <td class="span2"> <a  ng-click="order.showdetail=!order.showdetail"class="black" ng-bind="order.date_one"></a> </td>
                    <td class="span2"> <a  ng-click="order.showdetail=!order.showdetail"class="black" ng-bind="order.date2"></a> </td>
                    <td class="span2"> <a  ng-click="order.showdetail=!order.showdetail"class="black" ng-bind="order.date3"></a> </td>

                    <td class="span1" ng-bind="order.quantity"> </td>
                    <td class="span1" ng-bind="order.sum"> </td>
                    <td class="span2">
                        <select ng-model="order.status" ng-change="chStatus(order)">
                            <option value="1">принят</option>
                            <option value="2">оплачен</option>
                            <option value="3">отправлен</option>
                            <option value="4">в архив</option>
                        </select>

                    </td>
                    <td class="span1">
                        <button class="btn btn_ok" ng-click="deleteOrder(order)">X</button>
                    </td>

                </tr>
                <tr>
                    <td colspan="8" ng-show="order.showdetail"  ng-bind-html="$sce.trustAsHtml(order.cart)" style="background-color:#CCC; padding:0; border:none;">
                    </td>
                </tr>

                </tbody>
                </tbody>
            </table>

        </article>
    </div>

</div>
<br />
<br />
</div>