<div class="bg" ng-class="bgImg[2][category]">
<div class="container">
    <div class="jumbotron1 hero-spacer">
        <h1>Рецепты</h1>
        <h2>с продуктами ТМ "Артика"</h2>
    </div>

    <form class="navbar-form navbar-right" role="search" data-ng-submit="goToSearch(searchStr)"ng-model="searchStr">
        <div class="input-group">
            <input type="text" class="form-control input-lg" placeholder="Поиск"
                   ng-minlength="{{3}}"
                   ng-maxlength="{{50}}"
                   ng-model="searchStr"
                   required
                   pattern="[A-Za-zА-Яа-я0-9а-яА-Я.\s-+()]{3,50}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>

        </div>
    </form>

    <div class="clearfix"></div>




    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-feature" data-ng-repeat="good in goods">
            <div class="thumbnail content-news">
                <a ui-sref="language.goodDetail({'id':good._id,'type':good.type})"><img ng-src="{{good.img}}" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 thumbnail img-news" alt=""></a>
                <div class="col-lg-8  col-md-8 col-sm-8 col-xs-12 desc ">
                    <h2><a ui-sref="language.goodDetail({'id':good._id,'type':good.type})"><span ng-bind="good.name[lang]"></span></a></h2>
                    <p class="desc1" ng-bind-html="trustHtml(good.desc[lang])"></p>
                    <p> <a ui-sref="language.goodDetail({'id':good._id,'type':good.type})" class="btn btn-primary">Детальніше</a></p>
                </div>
                <div class="clearfix"></div>
            </div>



        </div>
</div> <!-- /container -->