<div class="container" ng-hide="$state.includes('mainFrame.category.edit')">
    <div class="main">
        <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="form-group">
                        <label  >Категории</label>

                            <a href=""class="btn btn-success pull-right" type="button"  ng-click="editCategory(null)"
                                    style=" margin-right: 10px">новая</a>

                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                                    <input type="text" placeholder="пошук" ng-model="searchCategory" class="search-query" style=" margin-left: 20px"/>
                        </div>
                    </form>
                    <ul  class="nav nav-pills nav-stacked">
                        <li class="phone-listing"
                            class="pull-left col-lg-12 col-md-10 col-xs-10 back actve"
                            ng-repeat="category in categories|filter:{name:searchCategory}|orderBy:'index'">
                            <span class="col-lg-6 col-md-6 col-xs-6">
                            <a ng-click="editCategory(category)"  href="">
                                <span ng-bind="category.name[config.DL]"></span>
                            </a>
                            </span>
                            <div class="col-lg-6 text-right">
                                <a ng-click="editCategory(category)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-pencil"></span> </a>
                                <a ng-click="deleteCategory(category)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> </a>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <div ng-show="categories.length<=0" class="alert alert-success"><h3>Нет объектов</h3></div>
                </div>
            </div>
        </div>

           <!-- <article class="col-lg-8 col-md-8">
                <article class="col-lg-6 col-md-6 col-sm-12">
                    <div class="pull-left" style="margin-right: 30px;">
                        <h3>Категория</h3>
                        <div class="thumbnail back pull-left">
                            <img ng-src="{{myFileSrc}}"alt="выберете фото" />
                            <div>
                                <input type="file" file-read="myFile" name="image" id="imagefile" style='visibility: hidden;'/>
                                <input type = "button" class="btn btn-success" value="выбор фото" ng-disabled="noChange" onclick ="javascript:document.getElementById('imagefile').click();">
                                <button  class="btn btn-info pull-right" ng-click="uploadImg()" ng-disabled="noLoad">загрузити</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    &lt;!&ndash;<input
                            type="hidden"
                            ng-model="tags"
                            class="input-large"
                            ui-select2="{ tags: [{ id:5, text: 'tag1' }, { id: 8, text: 'tag2' }] }" />&ndash;&gt;


                    <div>
                        <h4>Pаздел</h4>
                        <span ng-bind="section"></span>
                    </div>

                    <select ui-select2
                            ng-disabled="editDisabled"

                            data-placeholder="выберите раздел"
                            ng-model="category.section"
                            >

                        <option value=""></option>
                        <option ng-repeat="opt in categoryTags|orderBy:'index'" value="{{opt.id}}">{{opt.label}}</option>
                    </select>

                    <div ng-show="category.section">
                        <h4>Бренды</h4>
                        <button type="button" class="btn btn-default btn-xs" data-ng-repeat="el in brandList" data-ng-click="removeBrand(el)">
                            <span class="glyphicon glyphicon-remove"></span>{{el.label}}
                        </button>


                    <select ui-select2
                            ng-disabled="editDisabled"
                            data-placeholder="выберите бренд"
                            ng-model="selectBrand"
                            ng-change="changeBrand(selectBrand)"
                            ng-options="opt as opt.label for opt in brandTags|orderBy:'index' ">
                            >
                        <option value=""></option>
                        &lt;!&ndash;<option ng-repeat="opt in brandTags|orderBy:'index'" value="{{opt}}">{{opt.label}}</option>&ndash;&gt;
                    </select>

                        <h4>фильтры</h4>
                        <button type="button" class="btn btn-default btn-xs" data-ng-repeat="el in filterList" data-ng-click="removeFilter(el)">
                            <span class="glyphicon glyphicon-remove"></span>{{el.label}}
                        </button>


                    <select ui-select2
                            ng-disabled="editDisabled"
                            data-placeholder="выберите фильтр"
                            ng-model="selectFilter"
                            ng-change="changeFilter(selectFilter)"
                            ng-options="opt as opt.label for opt in filterTags|orderBy:'index' ">
                        <option value=""></option>
                    </select>

                    </div>



                </article>


                <form name="myForm" class="form form-horizontal" ng-submit="updateCategory()">

                    <article class="col-lg-6 col-md-6 col-sm-12">

                        <h3>Опис категории</h3>
                        <p>Найменування</p>
                        <div class="col-lg-6 col-md-6 col-sm-6 row" data-ng-repeat="lang in config.langArr">
                            <span ng-bind="lang"></span>&nbsp
                            <input
                                    type="text"
                                    class="form-control"
                                    id="inputText3"
                                    placeholder="введіть найменування"
                                    ng-model="category.name[lang]"
                                    ng-disabled="editDisabled"
                                    required
                                    focus-me="focusInput[$index]"/>
                        </div>
                        <br />
                        <p>Короткий опис</p>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 back row" data-ng-repeat="lang in config.langArr">
                            <span ng-bind="lang"></span>&nbsp
                            <textarea placeholder="короткий опис" ng-model="category.desc[lang]" ng-disabled="editDisabled">
                            </textarea>
                        </div>
                        <div class="back col-lg-4 col-md-4 col-sm-4 col-xs-4 row">
                            <p>Індекс</p>
                            <input type="text" class="pfoto"  placeholder="введіть індекс"  ng-model="category.index" required ng-disabled="editDisabled"/>
                            </br>
                        </div>

                        <div class="pull-right back ">
                            <button class="btn btn-large btn-info save mt40" type="submit" ng-disabled="editDisabled">зберегти</button>
                        </div>

                </article>
                </form>



            </article>-->
        </div>

    </div>
</div>

<!--<article class="col-lg-4 col-md-4" >
   <p class="back">категория  <span ng-bind="activeCategoryName"></span></p>
   <div class="pull-left col-lg-12 col-md-12 col-xs-12 row back">
       <label class="btn-group-md">
           <input type="text" placeholder="пошук" ng-model="searchCategory" /></br>
           <button class="btn btn-info" ng-click="focusInput[0]=true;editCategory(null)">створити</button>
       </label>
   </div>
   <ul class="list">
       <li class="pull-left col-lg-12 col-md-10 col-xs-10 back" ng-repeat="category in categories|filter:{name:searchCategory}|orderBy:'index'">
           <div class="form-group">
               <label class="control-label col-lg-6 col-md-6 col-xs-6">
                   <a ng-click="focusInput[0]=true;editCategory(category)">
                       <span ng-bind="category.name[config.DL]"></span>
                   </a>
               </label>
               <div class="col-lg-6 btn-group">

                   <button class="btn btn-info" ng-click="focusInput[0]=true;editCategory(category)">
                       <img src="img/icons/edit.png" title="редактировать">
                   </button>
                   <button class="btn btn-danger" ng-click="deleteCategory(category)">
                       <img src="img/icons/delete.png" title="удалить">
                   </button>
               </div>
           </div>
       </li>
       <div class="clearfix"></div>

   </ul>
</article>-->
<div ui-view></div>