doctype html
html(ng-app="myApp")
 head
  meta(charset='utf8')
  base(href='/')
  meta(name="fragment",content="!")
  link(rel='stylesheet', href='/css/admin.css')
  link(rel="icon",href="img/favicon.ico",type="image/x-icon")
  link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
  link(rel='stylesheet', href='manager/styles/admin.css')
  link(rel="stylesheet", href="bower_components/select2/select2.css")
 body
  div( ui-view )
  script(src="bower_components/jquery/jquery.js")
  script(src='bower_components/angular/angular.js')
  script(src="bower_components/angular-animate/angular-animate.js")
  script(src="bower_components/gsap/src/uncompressed/TweenMax.js")
  script(src="bower_components/ng-Fx/dist/ng-Fx.js")
  script(src="bower_components/angular-ui-bootstrap/ui-bootstrap-tpls-0.10.0.js")
  script(src='bower_components/angular-route/angular-route.js')
  script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
  script(src='bower_components/angular-resource/angular-resource.js')
  script(src='bower_components/angular-cookies/angular-cookies.js')
  script(src="bower_components/select2/select2.js")
  script(src="bower_components/angular-ui-select2/src/select2.js")
  script(src="bower_components/moment/min/moment.min.js")
  script(src="scripts/dev/async/async.js")
  script(src='/socket.io/socket.io.js')
  script(src='manager/scripts/app.js')
  script(src='manager/scripts/services.js')
  script(src='manager/scripts/controllers.js')
  script(src='manager/scripts/filters.js')
  script(src='manager/scripts/directives.js')